# Logica, control flow en filteren

## 1. Logica

### 1.1 Vergelijken met comparison operators

Via deze link vind je de Python 'comparison operators': https://www.pythontutorial.net/python-basics/python-comparison-operators/

- Maak de variabelen my_age en your_age aan. Wijs hieraan je eigen leeftijd en de leeftijd van iemand anders toe.
- Check of your_age kleiner dan of gelijk is aan my_age. Print het resultaat.
- Check of 'erik' niet gelijk is aan 'Erik'. Print het resultaat.
- Check of '1978' groter is dan 'Erik'. Print het resultaat.
- Check of True groter is dan False. Print het resultaat.

In [1]:
my_age = 37
your_age = 59


print(your_age <= my_age)
print("erik" != "Erik")
print("1978" > "Erik")
print(True > False)

print(chr(65))
print(chr(111))
print(chr(169))


# for x in range(20):
#     print(chr(x))

False
True
False
True
A
o
Â©

### 1.2 Vergelijken met Numpy arrays

Voer onderstaande cel uit om 4 Numpy arrays aan te maken:
- np_to: omzet per winkel
- np_floor: winkeloppervlaktes in vierkante meters
- np_comp_sc: concurrentiescores
- np_comp_no: aantal concurrenten

In [2]:
import pandas as pd
import numpy as np
storedata = pd.read_csv('storedata_clean.csv',sep=";")


#Creating arrays from dataframe
np_to = storedata['Profit'].values
np_floor = storedata['Floor Space'].values
np_comp_sc = storedata['Competition score'].values
np_comp_no = storedata['Competition number'].values

- Print een numpy array good_to die bestaat uit 'Booleans' (True of False) die aangeven of de omzet groter is dan of gelijk is aan 2800000.

In [3]:
good_to = np_to > 2_800_000

- Maak de numpy array to_fl met daarin de omzet per vierkante meter van iedere winkel.
- Print de numpy arry good_to_fl die Booleans bevat die aangeven of de omzet per vierkante meter hoger is dan of gelijk aan 200 is.

In [33]:
to_fl = np_to / np_floor

# changing decimals to 2 and printing to_fl
print(np.around(to_fl, decimals = 2))
# print(to_fl)

good_to_fl = np_to >=200
print(good_to_fl)

[184.11 217.25 187.   140.36 202.37 170.96 202.2  213.89 224.76 261.23
 226.65 162.73 200.71 227.01 186.73 201.52 232.45 256.98 239.22 253.57
 186.88 170.94 164.1  230.44 218.09 164.16 254.63 208.28 175.84 173.03
 157.55 136.4  119.79 136.02 222.8  247.43 284.87 262.   215.87 158.89
 212.78 207.6  209.24 243.28 276.66 208.85 241.88 245.28 230.21 127.42
 201.75 223.82 315.36 249.65 204.15 203.   176.84 177.81 237.29 174.01
 240.58 189.92 136.83 232.31 224.86 207.63 237.75 204.26 110.33 202.92
 181.78 147.01 245.84 224.11 251.18 202.34 184.22 120.57 247.4  306.73
 216.62 229.63 253.6  107.66 211.12 197.93 224.26 214.17 167.88 232.27
 196.62 199.1  176.44  92.31 259.07 210.4  182.08 189.19 134.58 137.98
 300.75 303.22 190.6  230.02 203.81 221.6  178.99 192.81 145.14 219.53
 258.63 134.43  84.18  87.99 255.5  181.13 137.81 125.93 195.78 254.57
 182.04 213.15 159.82 140.37 222.11 214.92 191.95 296.2  271.38 355.64
 215.5  182.86 231.09 159.59  61.29 240.9 ]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True]

- Print de numpy array better, die bestaat uit Booleans, waarin je checkt of good_to groter is dan of gelijk is aan good_to_fl.
- Wat kun je opmaken uit deze numpy array?

In [5]:
# print(good_to)
better = good_to >= good_to_fl
print(better)

# good_to = goede omzet, voor alle filialen. Dus voor een klein winkel dat is extra goed. 
# good_to_fl = misschien betere vergelijking tussen de filialen omdat dit omzet per vierkante meter is. Dit kan target zijn bijv.

# [better] zou kunnen betekenen =
# True = Grote winkel met geweldig omzet maar minder goed omzet per vkm. maar wel boven $200 $/sqm.
# False = Kleine winkel met geweldig omzet per vkm. maar minder totaal omzet vanwege ruimte maar wel boven $2800000 omzet.
# Er zijn ook andere factoren zoals een limit aan omzet groei vs oppervlakte etc. 
# en sommige kleine winkels zijn ook weggefilterd denk ik vanwege selectie 'good_to'.
# Om een definitief antwoord te kunnen geven zou ik eerst de brekeningen voor 200 en 2800000 zelf moeten doen.

# np.corrcoef(np_to, np_floor)

# display(np.median(np_to))
# display(np.mean(np_to))
# display(np.std(np_to))
# display(np.min(np_to), np.max(np_to))

# display(np.median(np_to / np_floor))
# display(np.mean(np_to / np_floor))
# display(np.std(np_to / np_floor))
# display(np.min(np_to / np_floor), np.max(np_to / np_floor))

[ True  True False False False  True False  True  True  True  True False
  True  True False False  True  True  True  True  True  True  True  True
  True False  True  True  True False False False False False  True  True
  True  True  True False  True False False  True  True  True False False
  True False False False  True  True False False False False  True  True
  True  True False  True False  True  True  True False  True False False
  True  True  True False False False  True  True  True False  True False
  True  True False  True  True  True False  True False False  True  True
  True  True False False  True  True  True  True False  True False  True
 False  True  True False False False  True  True False False False  True
 False False  True False  True  True  True  True  True  True False False
 False False False  True]

### 1.3 Boolean operators: and, or, not
1) Maak print statements waarmee je checkt of:
- stamford_staff groter is dan 6 EN kleiner is dan 8
- stamford_staff groter is dan 6 OF kleiner is dan 8

2) Pas de not() functie toe om dezelfde checks nogmaals te doen.

In [6]:
stamford_staff = 8
skipton_staff = 2


#start coding here 
print(stamford_staff > 6 and stamford_staff < 8)
print(stamford_staff > 6 or stamford_staff < 8)


print(not stamford_staff > 6 and not stamford_staff < 8)
print(not stamford_staff > 6 or not stamford_staff <8)

False
True
False
True

### 1.4 np.logical.and(), np.logical.or(), np.logical.not()
- Print boolean arrays (bestaan alleen uit True en False) die antwoord geven op de volgende vragen:
    - Welke concurrentie scores (np_comp_sc) zijn groter dan 13 of kleiner dan 11?
    - Welke getallen zijn groter dan of gelijk aan 15 in zowel np_comp_sc en np_comp_no?

In [7]:
print(np_comp_sc[np.logical_or(np_comp_sc > 13, np_comp_sc < 11)])

print(np_comp_sc[np.logical_and(np_comp_sc >= 15, np_comp_no >= 15)])
# print(np_comp_no[np.logical_and(np_comp_sc >= 15, np_comp_no >= 15)])

[16 19 18 14 16 14 18 10 17 19 19 18 18 16 17 18 18 19 16 17 18 10 16 16
 15 16 18 19 16 10 10 19 16 17 17 19 10 10 17 18 14 15 15 10 15 15 14 16
 16 16 15 15 18 18 19 16 14 19 14 18 19 14 17 18 16 18 10 19 10 14 19 17
 17 10 19 14 14 19 16 18 10 10 18 19 14 15 15 15 17 10 14 17 15 16 18 17
 18 14 14 18 18 10]
[16 19 18 18 19 18 16 19 16 19 16 17 19 17 15 15 16 16 15 16 19 17 18 18
 19 17 19 16 18 15 15 15 17 15 18 18 18]

## 2 Control flow

### 2.1 if, else, elif

**stamford_staff**
- Print 'big store' als stamford_staff groter is dan 8. 
- Print 'medium store' als stamford_staff groter is dan 6 en kleiner of gelijk aan 8.
- Print 'small store' in alle andere gevallen.

**stamford_loc**
- Print stamford_loc als de locatie gelijk is aan 'Retail Park'. 
- Als dit niet het geval is print dan stamford_loc als de locatie gelijk is aan 'Shopping Centre'. 
- Print de eerste letter van de woorden in stamford_loc met hoofdletters als de eerdere checks niet waar zijn.

In [8]:
stamford_staff = 8
stamford_loc = "shopping centre"


# Start coding here: stamford_staff
if stamford_staff > 8:
    print("big store")
elif 6 < stamford_staff <= 8:
    print("medium store")
else:
    print("small store")

    
# Start coding here: stamford_loc
if stamford_loc == "Retail Park":
    print(stamford_loc)
elif stamford_loc == "Shopping Centre":
    print(stamford_loc)
else:
    first, second = stamford_loc.split()
    print(first[0].upper(), second[0].upper())
    print(stamford_loc.title())

medium store
S C
Shopping Centre

### Selecteren van data in een dataframe

In de volgende opdrachten ga je data selecteren uit een dataframe. Zorg ervoor dat je precies de juiste kolomnamen gebruikt. Het selecteren van kolommen en data is hoofdlettergevoelig (case-sesitive).
- Voer onderstaande cel uit om het dataframe storedata te bekijken.

In [9]:
#Use this cell to check the data and the column headers.
display(storedata)

,Town,Country,Store ID,Manager name,Staff,Floor Space,Window,Car park,Demographic score,Location,40min population,30 min population,20 min population,10 min population,Store age,Clearance space,Competition number,Competition score,Profit,Performance
0,Swinton (Greater Manchester),UK,1437,Roger,9,18526,121,Yes,10,Retail Park,1288374,1138224,1006986,1002340,3,238,16,16,3410865,Good
1,Stamford,UK,1544,Ella,8,18569,121,Yes,11,Shopping Centre,1086225,1015321,1012182,1008436,4,384,15,19,4034051,Excellent
2,Skipton,UK,2039,Valentina,2,12288,105,No,12,Retail Park,1595638,1281661,1104490,1011395,11,219,13,18,2297810,Poor
3,Stratton,UK,2055,Antonia,7,17092,117,No,14,High Street,1179395,1022959,1009496,1002169,5,261,15,12,2398990,Poor
4,Shepperton,UK,2141,Gabriel,7,11307,103,No,18,Retail Park,1398558,1085170,1003137,1002513,7,200,19,13,2288235,Poor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,South Benfleet,UK,96853,VitÃ³ria,7,14120,110,Yes,13,Retail Park,1665074,1240813,1141898,1041041,6,202,18,14,2581954,Reasonable
132,Sandy,UK,96858,MatÃ­as,6,11205,103,No,15,Shopping Centre,1657769,1424404,1378708,1160929,5,203,13,18,2589339,Reasonable
133,Sheerness,UK,98062,Gustavo,7,16190,115,No,19,Shopping Centre,1407456,1359511,1200486,1063718,7,341,18,18,2583755,Reasonable
134,Salford,UK,98923,Rafael,6,15516,113,No,17,High Street,1451087,1245725,1127276,1045154,11,261,14,10,950924,Poor
135,Stapleford,UK,99854,Lea,9,14468,111,Yes,18,High Street,1706344,1307752,1159859,1020940,8,276,18,13,3485295,Good

- Toon de regels (rijen / records) uit storedata die parkeergelegenheid ('Car park') hebben.

In [14]:
print(storedata[(storedata["Car park"] != "No") | (storedata["Car park"] != "N")])
set(storedata["Car park"])

                              Town Country  Store ID Manager name  Staff  \
0     Swinton (Greater Manchester)      UK      1437        Roger      9
1                         Stamford      UK      1544         Ella      8
2                          Skipton      UK      2039    Valentina      2
3                         Stratton      UK      2055      Antonia      7
4                       Shepperton      UK      2141      Gabriel      7
..                             ...     ...       ...          ...    ...
131                 South Benfleet      UK     96853      VitÃ³ria      7
132                          Sandy      UK     96858       MatÃ­as      6
133                      Sheerness      UK     98062      Gustavo      7
134                        Salford      UK     98923       Rafael      6
135                     Stapleford      UK     99854          Lea      9

     Floor Space  Window Car park  Demographic score         Location  \
0          18526     121      Yes                 10      Retail Park
1          18569     121      Yes                 11  Shopping Centre
2          12288     105       No                 12      Retail Park
3          17092     117       No                 14      High Street
4          11307     103       No                 18      Retail Park
..           ...     ...      ...                ...              ...
131        14120     110      Yes                 13      Retail Park
132        11205     103       No                 15  Shopping Centre
133        16190     115       No                 19  Shopping Centre
134        15516     113       No                 17      High Street
135        14468     111      Yes                 18      High Street

     40min population  30 min population  20 min population  \
0             1288374            1138224            1006986
1             1086225            1015321            1012182
2             1595638            1281661            1104490
3             1179395            1022959            1009496
4             1398558            1085170            1003137
..                ...                ...                ...
131           1665074            1240813            1141898
132           1657769            1424404            1378708
133           1407456            1359511            1200486
134           1451087            1245725            1127276
135           1706344            1307752            1159859

     10 min population  Store age  Clearance space  Competition number  \
0              1002340          3              238                  16
1              1008436          4              384                  15
2              1011395         11              219                  13
3              1002169          5              261                  15
4              1002513          7              200                  19
..                 ...        ...              ...                 ...
131            1041041          6              202                  18
132            1160929          5              203                  13
133            1063718          7              341                  18
134            1045154         11              261                  14
135            1020940          8              276                  18

     Competition score   Profit Performance
0                   16  3410865        Good
1                   19  4034051   Excellent
2                   18  2297810        Poor
3                   12  2398990        Poor
4                   13  2288235        Poor
..                 ...      ...         ...
131                 14  2581954  Reasonable
132                 18  2589339  Reasonable
133                 18  2583755  Reasonable
134                 10   950924        Poor
135                 13  3485295        Good

[136 rows x 20 columns]

{'N', 'No', 'Y', 'Yes'}

- Toon de rijen van winkels in storedata die 7 of meer medewerkers ('Staff') hebben.

In [16]:
print(storedata[storedata["Staff"] >= 7])

                              Town Country  Store ID Manager name  Staff  \
0     Swinton (Greater Manchester)      UK      1437        Roger      9
1                         Stamford      UK      1544         Ella      8
3                         Stratton      UK      2055      Antonia      7
4                       Shepperton      UK      2141      Gabriel      7
5                        Southwell      UK      2309        Sarah      7
..                             ...     ...       ...          ...    ...
128                       Solihull      UK     93991      Julieta      9
129                   Southborough      UK     95915      LetÃ­cia      9
131                 South Benfleet      UK     96853      VitÃ³ria      7
133                      Sheerness      UK     98062      Gustavo      7
135                     Stapleford      UK     99854          Lea      9

     Floor Space  Window Car park  Demographic score         Location  \
0          18526     121      Yes                 10      Retail Park
1          18569     121      Yes                 11  Shopping Centre
3          17092     117       No                 14      High Street
4          11307     103       No                 18      Retail Park
5          17888     119      Yes                 19      Retail Park
..           ...     ...      ...                ...              ...
128        13908     109      Yes                 18  Shopping Centre
129        10080     100      Yes                 19      Retail Park
131        14120     110      Yes                 13      Retail Park
133        16190     115       No                 19  Shopping Centre
135        14468     111      Yes                 18      High Street

     40min population  30 min population  20 min population  \
0             1288374            1138224            1006986
1             1086225            1015321            1012182
3             1179395            1022959            1009496
4             1398558            1085170            1003137
5             1614716            1325848            1220059
..                ...                ...                ...
128           1586575            1021914            1017342
129           1541541            1474539            1462733
131           1665074            1240813            1141898
133           1407456            1359511            1200486
135           1706344            1307752            1159859

     10 min population  Store age  Clearance space  Competition number  \
0              1002340          3              238                  16
1              1008436          4              384                  15
3              1002169          5              261                  15
4              1002513          7              200                  19
5              1193318          2              394                  17
..                 ...        ...              ...                 ...
128            1013646          8              268                  13
129            1384705          6              200                  16
131            1041041          6              202                  18
133            1063718          7              341                  18
135            1020940          8              276                  18

     Competition score   Profit Performance
0                   16  3410865        Good
1                   19  4034051   Excellent
3                   12  2398990        Poor
4                   13  2288235        Poor
5                   11  3058134        Good
..                 ...      ...         ...
128                 17  3774401   Excellent
129                 18  3584813   Excellent
131                 14  2581954  Reasonable
133                 18  2583755  Reasonable
135                 13  3485295        Good

[75 rows x 20 columns]

- Toon de regels in storedata waarvan de locatie ('Location') NIET in een retail park en NIET in een shopping centre is. Hint: pas de juiste vorm van np.logical toe.

In [18]:
# display(storedata)
print(storedata[np.logical_and(storedata["Location"] != "Retail Park", storedata["Location"] != "Shopping Centre")])

                           Town Country  Store ID Manager name  Staff  \
3                      Stratton      UK      2055      Antonia      7
6     Swinton (South Yorkshire)      UK      3800        James      8
9                       Stanley      UK      4860        Grace      7
14               Sawbridgeworth      UK     11440      Matheus      5
15                 Stocksbridge      UK     13132       Megane      6
16                     Salcombe      UK     13984       Samuel      8
21                      Sudbury      UK     16727     Isabella      7
22                     Steyning      UK     16741     Laurence      7
24                       Snaith      UK     19296        LucÃ­a      9
26                 Skelmersdale      UK     20971        SofÃ­a      7
28                   Sunderland      UK     23025      Abigail      5
29                    Streatham      UK     23231     Fernanda      9
32                    Stretford      UK     24174    Francisca      6
33                   St Austell      UK     24618     VinÃ­cius      8
35                    Southwick      UK     26307       Hannah      9
39                   Stainforth  France     35207       Hannah      5
41                  Stourbridge      UK     36979    Valentina      9
45                    Southwold      UK     40676       Sydney      9
46                     Shanklin      UK     41475       Jeremy      5
56                     Sandwich      UK     45577      Matthew      7
67                       Strood      UK     55967      Jessica      8
68                      Southam      UK     56056          Ana      6
70                      Swanage      UK     56930        Julie      6
71                       Seaton      UK     57418         Liam      5
72                     Swaffham      UK     58249           Jo      9
75                      Shipley      UK     59431       Daniel      5
77                      Seaford      UK     59653        Lucas      5
80                   Stowmarket      UK     61950      Martina      8
83                   Sheringham      UK     63017        Ethan      5
84                      Silloth      UK     64781       Andrew      6
85                     Stotfold      UK     65437     Catalina      6
104           Sunbury-on-Thames      UK     78305          Ava      6
108                  Shrewsbury      UK     81258      Antoine      7
111                      Syston      UK     83250          Amy      5
113             Southend-on-Sea      UK     83479        Emily      9
117                    Skegness      UK     85476      AgustÃ­n      5
120                 Stalybridge      UK     88442        Sarah      5
123                  Spennymoor      UK     90995        Paige      5
126                   Sevenoaks      UK     92768      JoaquÃ­n      7
134                     Salford      UK     98923       Rafael      6
135                  Stapleford      UK     99854          Lea      9

     Floor Space  Window Car park  Demographic score     Location  \
3          17092     117       No                 14  High Street
6          13814     109      Yes                 17  High Street
9          12071     105      Yes                 19  High Street
14         14588     111      Yes                 17  High Street
15         11824     104      Yes                 14  High Street
16         14291     110      Yes                 18  High Street
21         19025     122      Yes                 11  High Street
22         18535     121       No                 13  High Street
24         19337     123      Yes                 16  High Street
26         13810     109      Yes                 14  High Street
28         16736     116      Yes                 10  High Street
29         12959     107        N                 17  High Street
32         18399     120      Yes                 15  High Street
33         18077     120      Yes                 16  High Street
35         16915     117      Yes                 13      Village
39         13127     107       No                 16  High Street
41         12075     105      Yes                 10  High Street
45         14948     112       No                 15  High Street
46         11572     103      Yes                 12  High Street
56         11898     104      Yes                 17  High Street
67         14833     112      Yes                 15  High Street
68         13709     109      Yes                 11  High Street
70         13899     109      Yes                 19  High Street
71         15876     114      Yes                 14  High Street
72         13008     107       No                 17  High Street
75         12545     106      Yes                 17  High Street
77         18752     121       No                 16  High Street
80         15409     113      Yes                 12  High Street
83         16652     116        N                 12  High Street
84         13283     108       No                 19  High Street
85         14497     111      Yes                 17  High Street
104        13009     107      Yes                 11  High Street
108        15785     114      Yes                 14  High Street
111        19375     123      Yes                 16  High Street
113        18928     122       No                 19  High Street
117        19037     122      Yes                 10  High Street
120        14087     110      Yes                 17  High Street
123        17582     118      Yes                 16  High Street
126        14962     112       No                 10  High Street
134        15516     113       No                 17  High Street
135        14468     111      Yes                 18  High Street

     40min population  30 min population  20 min population  \
3             1179395            1022959            1009496
6             1323396            1047485            1000888
9             1141000            1029186            1005096
14            1242546            1053056            1047783
15            1043277            1004546            1001718
16            1395395            1010441            1005783
21            1817320            1735622            1723395
22            1182360            1077124            1049837
24            1137206            1066238            1049975
26            1392247            1077683            1068892
28            1474310            1366274            1003031
29            1575328            1245626            1210849
32            1101114            1087742            1063778
33            1518005            1057762            1010136
35            1697206            1222492            1162941
39            1171849            1084983            1006564
41            1987353            1812472            1105847
45            1892976            1100161            1053955
46            1518361            1004958            1002835
56            1682013            1560162            1447033
67            1345628            1088954            1035579
68            1061935            1006165            1002529
70            1888945            1523248            1508361
71            1423209            1408262            1185937
72            1568216            1509273            1447590
75            1350345            1108492            1094175
77            1897155            1000653            1000214
80            1087574            1017665            1003951
83            1931932            1547591            1547000
84            1605018            1517910            1090982
85            1537976            1447127            1244066
104           1143772            1106672            1059392
108           1135871            1132465            1072298
111           1532781            1444610            1228299
113           1428417            1099245            1078450
117           1647297            1055850            1025509
120           1997044            1804663            1461181
123           1207172            1205457            1177404
126           1034523            1028457            1002231
134           1451087            1245725            1127276
135           1706344            1307752            1159859

     10 min population  Store age  Clearance space  Competition number  \
3              1002169          5              261                  15
6              1000844          5              228                  11
9              1000687          6              222                  16
14             1007899         10              261                  11
15             1000627          6              225                  11
16             1004909          2              272                  16
21             1272149         11              223                  10
22             1014968          9              266                  11
24             1041967          5              293                  17
26             1045144          5              270                  13
28             1002039          6              237                  18
29             1099580         11              241                  11
32             1018675         10              408                  12
33             1008599          9              281                  10
35             1018063          4              368                  10
39             1003013          7              235                  19
41             1090676          7              227                  14
45             1005729          4              263                  19
46             1001393          3              209                  14
56             1397710          8              200                  18
67             1025745          2              249                  14
68             1001991          8              291                  14
70             1233530          2              227                  10
71             1046917          7              315                  12
72             1253376          5              251                  14
75             1044860         11              204                  15
77             1000040          3              220                  18
80             1002760         10              277                  12
83             1298080          6              280                  17
84             1064902          4              243                  15
85             1046174          5              311                  17
104            1051305          6              206                  19
108            1034275          7              254                  13
111            1102398          2              320                  12
113            1027636          9              245                  10
117            1009779          8              247                  19
120            1290194          3              264                  13
123            1061837          9              290                  16
126            1002201          4              246                  14
134            1045154         11              261                  14
135            1020940          8              276                  18

     Competition score   Profit Performance
3                   12  2398990        Poor
6                   14  2793160  Reasonable
9                   18  3153278        Good
14                  19  2724068  Reasonable
15                  19  2382751        Poor
16                  11  3321899        Good
21                  17  3252148        Good
22                  18  3041618        Good
24                  19  4217291   Excellent
26                  17  3516397   Excellent
28                  10  2942839  Reasonable
29                  13  2242288        Poor
32                  15  2203994        Poor
33                  11  2458785        Poor
35                  18  4185306   Excellent
39                  10  2085733        Poor
41                  13  2506748  Reasonable
45                  17  3121837        Good
46                  17  2799074  Reasonable
56                  15  2104028        Poor
67                  13  3029751        Good
68                  11  1512452        Poor
70                  15  2526616  Reasonable
71                  11  2333940        Poor
72                  18  3197934        Good
75                  16  2538362  Reasonable
77                  14  2260838        Poor
80                  14  3337861        Good
83                  14  1792809        Poor
84                  17  2804353  Reasonable
85                  18  2869330  Reasonable
104                 16  2651301  Reasonable
108                 11  2291029        Poor
111                 11  2604575  Reasonable
113                 11  1665527        Poor
117                 13  2397407        Poor
120                 17  2564358  Reasonable
123                 13  2467943        Poor
126                 16  2872001  Reasonable
134                 10   950924        Poor
135                 13  3485295        Good

- Toon de regels in storedata die een 'Competition score' hebben die groter is dan of gelijk is aan 10 EN kleiner dan of gelijk aan 15

In [31]:
storedata[np.logical_and(storedata["Competition score"] >= 10, storedata["Competition score"] <= 15)]

storedata[storedata[["Competition score"] >= 10 and storedata["Competition score"] <= 15]

SyntaxError: unexpected EOF while parsing (519200163.py, line 3)